.footer {
  background-color: #AB8261;
  color: var(--general-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__inner {
  display: grid;
  gap: 15px;
  justify-content: space-between;
  grid-template-columns: 0.9fr .9fr 1fr auto;
}

.footer__col:first-child {
  margin-top: -30px;
}

.footer__logo {
  max-width: 239px;
}

/* .footer__logo img {
  width: 100%;
} */
.footer__list {
  margin-top: -5px;
}

.footer__item {
  margin-bottom: 20px;
  padding: 5px 0;

}

.footer__item:last-child {
  margin-bottom: 0px;
}

.footer__link {
  display: block;
  position: relative;
  z-index: 1;
}

.footer__link::before {
  content: '';
  width: 34px;
  height: 34px;
  background-color: var(--accent-color);
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  top: -7px;
  left: -17px;
  opacity: 0;
  transition: var(--transition);
}

.footer__link:hover::before {
  opacity: 1;
}


.footer__adress-link {
  margin-bottom: 10px;
}

.footer__adress-link:last-child {
  margin-bottom: 0px;
}


.footer__numebr-item {
  margin-bottom: 47px;
}

.footer__numebr-item:last-child {
  margin-bottom: 0px;
  color: #DEC5B1;
}

.footer__number-tel {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.6;
  transition: var(--transition);
}

.footer__number-tel:hover {
  color: var(--accent-color);
}


.social__list {
  display: flex;
  margin-top: 20px;
  gap: 21px;
}


.social__link:hover path {
  fill: var(--accent-color);
}

.social__link path {
  transition: var(--transition);
}